{%extends "base.html"%}

{% load staticfiles %}
{% load thumbnail %}

{%block content%}


<div id="post-container" class="container" id="posts">





</div>


{% endblock %}


{%block javascript%}

<script>

       $(function() {
            load_more_posts("/newsfeed/posts/load/");
        });

        $(document).scroll( function(){
            var scroll_top = $(this).scrollTop();
            if ( ($(window).height() + $(window).scrollTop()) >= ($('body').height()) ){
                if (scroll_top > last_scroll_top){
                    if (is_loading == false){
                        is_loading = true;
                        last_scroll_top = scroll_top;
                        load_more_posts("/newsfeed/posts/load/");
                    }
                }
            }
        });


</script>



{%endblock%}