

{%for display_info in post_display_info_list%}

<div id="post-container-{{display_info.post.pk}}" class="col-md-5">

    <div class="panel panel-default" >
        <div class="panel-heading"><p class="pull-right">{{display_info.post.timestamp}}
            {%if has_edit_permissions%}
            <a id="post-delete-{{display_info.post.pk}}" class="btn btn-default post-delete" role="button" href="{%url 'post-delete' display_info.post.pk%}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            {%endif%}
        </p>
            <h4>Source: {{display_info.post.root.blog.slug}}
            </h4></div>
        <div class="panel-body" style="height:500px; overflow:auto;">
            <div class="clearfix"></div>
            <h3>{{display_info.post.title}}</h3>
            <hr>

            <p><blockquote>{{display_info.post.content|safe}}</blockquote></p>
            <div class="tumblr-tags">
                <span class="glyphicon glyphicon-tags"></span>

                {%for tag_object in display_info.tags%}
                <a href="{%url 'tagged' tag_object.tag%}" class="label label-default">{{tag_object.tag}}</a>
                {%endfor%}

            </div>
        </div>

        <div class="panel-footer">


            <div class="pull-right inline">
                <span id="notes-badge-{{display_info.post.pk}}"  role="button" class="badge notes-badge">{{display_info.reblogs.count|add:display_info.likes.count}}</span>
                <div class="btn-group" role="group" aria-label="...">


                    <a role="button" id="like-toggle-button-{{display_info.post.pk}}" class="btn btn-default like-toggle-button" href="{%url 'like' display_info.post.pk%}">
                        {%if display_info.is_liked%}
                        <span class="glyphicon glyphicon-heart"></span>
                        {%else%}
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        {%endif%}
                    </a>

                    <a role="button" class="btn btn-default" href="{%url 'reblog' display_info.post.pk%}">Reblog</a>
                </div>
            </div>

            <div>
                <div>
                    <p>Source:
                        <a href="{%url 'blog' display_info.post.root.blog.slug%}">
                            {{display_info.post.root.blog.slug}}
                        </a>
                    </p>

                </div>
            </div>




        </div>
        <div class="notes" hidden="true" style="overflow:auto;" >
            <br>
            <ul id="likes-{{display_info.post.pk}}" class="list-group pull-right" style="margin-right:10px; width: 48%;">
                <li class="list-group-item list-group-item-warning">Likes</li>
                {%for like in display_info.likes%}
                <a href = "{%url 'blog' like.liker.slug%}">
                    <li class="list-group-item">Liked by {{like.liker.slug}}.</li>
                </a>
                {%endfor%}
            </ul>
            <ul class="list-group" style="margin-left:10px; width: 48%;">
                <li class="list-group-item list-group-item-warning">Reblogs</li>
                {%for reblog in display_info.reblogs%}
                <a href = "{%url 'blog' reblog.blog.slug%}">
                    <li class="list-group-item">Reposted by {{reblog.blog.slug}}.</li>
                </a>
                {%endfor%}
            </ul>

        </div>
    </div>

</div>


<!--/articles-->
{%endfor%}