{%extends "base.html"%}



{%block content%}

{%include "base_blog.html"%}

{%block head%}
<style>
        body{
            background-color: #e2d090;
        }
    </style>
{%endblock%}

<div class="container-fluid">



    <div class="row">

        <div class="col-md-12" style="text-align:center; border-style:solid; border-color:#77675c; background-color:#F8F8F8; padding: 20px;">
            <h1>{{blog.title}}</h1>
            <h3>{{blog.description}}</h3>
        </div>
    </div>
    <hr>

</div>
<div id="post-container" class="container">


</div>
{% endblock %}

{% block javascript%}

<script>

       $(function() {
            load_more_posts("/blogging/blog/{{blog.slug}}/posts/load/");
        });

        $(document).scroll( function(){
            var scroll_top = $(this).scrollTop();
            if ( ($(window).height() + $(window).scrollTop()) >= ($('body').height()) ){
                if (scroll_top > last_scroll_top){
                    if (is_loading == false){
                        is_loading = true;
                        last_scroll_top = scroll_top;
                        load_more_posts("/blogging/blog/{{blog.slug}}/posts/load/");
                    }
                }
            }
        });


</script>

{%endblock%}